<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446772085148-ni2k3lumvt7pbd6p2ptj0b2nlb27b2bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446772085148-ni2k3lumvt7pbd6p2ptj0b2nlb27b2bm</string>
	<key>API_KEY</key>
	<string>AIzaSyC9-OMc2U1fWYOkdJ5vx0GlDsUGIZPGUS0</string>
	<key>GCM_SENDER_ID</key>
	<string>446772085148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f1app.ah.F1App</string>
	<key>PROJECT_ID</key>
	<string>f1app-90f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>f1app-90f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446772085148:ios:b901c9d9886b0026eb4859</string>
</dict>
</plist>